.header {
    height: 110px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(191, 248, 248, 0.35);

    .logo-container {
        height: 100%;
        width: 193px;
        padding: 27px;
    }

    .options {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 35px;

            .option {
            font-family: 'Roborto';
            padding: 10px 15px;
            padding-bottom: 35px;
            font-size: 24px;
            cursor: pointer;
            height: 32px;
            text-decoration: none;
            color: #000;
            font-size: large;
            transition: 0.5s;
        }

        .option:hover {
            font-size: larger;
            font-weight: 700;
            border-bottom: 5px green solid;
        }

        .option:focus {
            font-size: larger;
            font-weight: 700;
            border-bottom: 5px green solid;
        }

    }
}
