.achieve {
    width: 100%;
    display: flex;
    margin-top: 5px;
    border-bottom: 1px grey solid;
    opacity: 0.9;
}

.achieve-span {
    display: flex;
    font-size: 16px;
    margin: auto;
    padding-right: 40px;

    p {
        margin-left: 10px;
    }
}